.well {
  padding: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-border-radius: 6px;
}

.hero-unit {
  padding: 20px;
}

.container {
  width: 1160px;
}

.container .nimbuslogo {
  float: left;
  margin-right: 10px;
}

.container > .content {
  width: 920px;
  float: left;
}

.container > .sidebar {
  float: right;
  width: 220px;
}

#latest .avatar {
  margin: 3px;
}

#latest dt {
}

#latest dd {
  margin-left: 22px;
}

#latest .spacer {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #FFF;
  margin: 5px 0;
}

.popover .inner {
  width: 500px;
}

.contributor_profile {
  padding: 5px;
  margin: 0 5px;
  margin-bottom: 20px;
  border: 1px solid #DDD;
  background-color: #FFF;
  float: left;
  width: 134px;
}

.contributor_profile .retired {
  opacity: 0.5;
}

.contributor_profile .name {
  margin-top: 0.2em;
  text-align: center;
}

.contributor_profile .role {
  text-align: center;
  color: #888;
  margin-bottom: 0.3em;
}

.contributor_profile .twitter,
.contributor_profile .github {
  text-align: center;
}
